{% load static %}

    <p class="pull-right muted credit"><a href="#">
        <i class="fa-solid fa-caret-up"></i>
        Voltar ao topo</a>
    </p>
    <p class="muted credit">
        Todos os direitos reservados - 
        <i class="fa-regular fa-registered"></i>
        RVC Software 
        <a href="http://www.rvcsoftware.com.br/"> www.rvcsoftware.com.br</a>.
    </p>

    <script src="{% static "rvccpf/js/jquery.min.js" %}"></script>
    <script src="{% static "rvccpf/js/jquery.tabletojson.js" %}"></script>
    <script src="{% static "rvccpf/js/jquery.tabletojson.min.js" %}"></script>
    <script src="{% static "rvccpf/js/bootstrap.min.js" %}"></script>
    <script src="{% static "rvccpf/js/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "rvccpf/js/bootstrap-datetimepicker.pt-BR.js" %}"></script>
    <script src="{% static "rvccpf/js/base.js" %}"></script>  